.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: teal;
    padding: 20px;
    text-align: center;
}

.middle {
    flex: 1;
    display: flex;
}

.aside {
    flex: 1;
    background-color: green;
    padding: 20px;
}

.article {
    flex: 3;
    background-color: orange;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer {
    background-color: teal;
    padding: 20px;
    text-align: center;
}
